# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
node_modules/
node_modules/**/*.babelrc
node_modules/**/*.editorconfig
node_modules/**/*.jscsrc
node_modules/**/*.jshintrc
.git/
.gitignore
README.md
.env.local
.env.example
*.log
.DS_Store
Thumbs.db